<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Museum"
            android:label="Museum" />
        <activity
            android:name=".Restaurants"
            android:label="Restaurants" />
        <activity
            android:name=".Parks"
            android:label="Parks" />
        <activity
            android:name=".Monuments"
            android:label="Monuments" />
        <activity
            android:name=".MuseumActivity.NationalAirSpace"
            android:label="National Air and Space Museum" />
        <activity
            android:name=".MuseumActivity.GalleryOfArt"
            android:label="National Gallery of Art" />
        <activity
            android:name=".MuseumActivity.SculptureGarden"
            android:label="National Gallery of Art - Sculpture Garden" />
        <activity
            android:name=".MuseumActivity.SmithsonianNationalHistory"
            android:label="Smithsonian National Museum of National History" />
        <activity
            android:name=".RestaurantsActivity.LeDiplomate"
            android:label="Le Diplomate" />
        <activity
            android:name=".RestaurantsActivity.Sakuramen"
            android:label="Sakuramen" />
        <activity
            android:name=".RestaurantsActivity.TokiUnderground"
            android:label="Toki Underground" />
        <activity
            android:name=".RestaurantsActivity.MiCubanCase"
            android:label="Mi Cuban Case" />
        <activity
            android:name=".ParksActivity.MontroseParks"
            android:label="Montrose Parks" />
        <activity
            android:name=".ParksActivity.MitchellPark"
            android:label="Mitchell Park" />
        <activity
            android:name=".ParksActivity.CanalPark"
            android:label="Canal Park" />
        <activity
            android:name=".ParksActivity.LincolnPark"
            android:label="Lincoln Park" />
        <activity
            android:name=".MonumentsActivity.WashingtonMonument"
            android:label="Washington Monument"/>
        <activity
            android:name=".MonumentsActivity.LincolnMemorial"
            android:label="Lincoln Memorial"/>
        <activity
            android:name=".MonumentsActivity.ThomasJeffersonMemorial"
            android:label="Thomas Jefferson Memorial"/>
        <activity
            android:name=".MonumentsActivity.FranklinDelanoRooseveltMemorial"
            android:label="Franklin Delano Roosevelt Memorial"/>
    </application>

</manifest>